@page "/"

<PageTitle>Home</PageTitle>

<h1>How to use</h1>

<div>
    Configure vessel information and communication parameters on the CONFIG page.
    Start and track mission on the MISSION CONTROL PAGE.
</div>

